@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Nunito+Sans:wght@400;700&display=swap');

$colors: ('white': #ffffff,
    'dark': #073b4c,
    'primary': #118ab2,
    'secondary': #f77f00,
    'link': #06d6a0,
    'danger': #ef476f,
);

$text-aligns: ('left': left,
    'center': center,
    'right': right,
    'justify': justify,
);

$font-serif: 'Noto Serif',
serif;

$font-sans-serif: 'Nunito Sans',
sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

article {
    padding: 1rem;
    border: 1px solid #eee;
}

a {
    color: map-get($map: $colors, $key: 'link');
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

body {
    font-size: 1rem;
    font-family: $font-sans-serif;
    color: map-get($map: $colors, $key: 'dark');
}

.footer {
    padding: 1rem 4rem;
    border-top: 1px solid rgb(218, 218, 218);
    background: #fff;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

h1,
.h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 2.6rem;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 2.2rem;
    font-weight: 700;
}

h4,
.h4 {
    font-size: 1.8rem;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

h6,
.h6 {
    font-size: 1rem;
    font-weight: 700;
}

@each $name,
$val in $colors {
    .text-#{$name} {
        color: #{$val};
    }
}

@each $name,
$val in $text-aligns {
    .text-#{$name} {
        text-align: #{$val};
    }
}

hr {
    border: 1px solid #ddd;
    margin: 1rem 0;
}

// Navbar
.navbar {
    // padding: 1.25rem;
    background: map-get($map: $colors, $key: 'white');
    border-bottom: 1px solid #eee;

    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &_brand {
        color: map-get($map: $colors, $key: 'primary');
        padding: 1.25rem 0.75rem;
        font-weight: 700;
    }

    &_links {
        display: inline-block;
    }

    &_link {
        color: #555;
        position: relative;
        display: inline-block;
        padding: 1.25rem 0.75rem;
        font-weight: 400;

        // &:not(:last-child) {
        //     margin-right: 1.25rem;
        // }

        &:hover {
            color: #111;
        }

        &.router-link-exact-active {
            color: map-get($map: $colors, $key: 'primary');

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: map-get($map: $colors, $key: 'primary');
            }
        }
    }
}

// Margin and Padding
@for $i from 1 through 10 {

    // margin
    .margin-#{$i} {
        margin: #{$i}rem;
    }

    .margin-y-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }

    .margin-x-#{$i} {
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }

    .margin-top-#{$i} {
        margin-top: #{$i}rem;
    }

    .margin-bottom-#{$i} {
        margin-bottom: #{$i}rem;
    }

    .margin-left-#{$i} {
        margin-left: #{$i}rem;
    }

    .margin-right-#{$i} {
        margin-right: #{$i}rem;
    }

    // Padding
    .padding-#{$i} {
        padding: #{$i}rem;
    }

    .padding-y-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
    }

    .padding-x-#{$i} {
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }

    .padding-top-#{$i} {
        padding-top: #{$i}rem;
    }

    .padding-bottom-#{$i} {
        padding-bottom: #{$i}rem;
    }

    .padding-left-#{$i} {
        padding-left: #{$i}rem;
    }

    .padding-right-#{$i} {
        padding-right: #{$i}rem;
    }
}

// Section
.section {
    padding: 4rem 8rem;
    background: white;

    &-2 {
        background: #eeeeee;
    }

}

// Window class
.window {
    display: flex;
    width: 100%;
    border: 1px solid #aaa;
    box-shadow: 0.25rem 0.25rem 0 0px #aaa;
    flex-direction: column;

    &-navigation {
        display: flex;
        width: 100%;
        justify-content: space-between;
        // padding: 1rem;
        background: white;
        border-bottom: 1px solid #aaa;

        &-name {
            padding: 0.5rem 1.25rem;
        }

        &-buttons {
            display: flex;

            .minimize,
            .zoom,
            .close {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 0.5rem 1.25rem;

                // &:hover {
                //     background: rgba($color: #000000, $alpha: 0.05);
                //     cursor: pointer;
                // }
            }

            .minimize {
                span {
                    display: block;
                    width: 10px;
                    background: #555;
                    height: 1px;
                }
            }

            .zoom {
                span {
                    display: block;
                    width: 10px;
                    border: 1px solid #555;
                    height: 10px;
                }
            }

            .close {
                span {
                    position: relative;
                    display: block;
                    width: 14px;
                    background: #555;
                    height: 1px;
                    transform: rotate(45deg);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 100%;
                        background: #555;
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
            }
        }
    }

    &-content {
        padding: 2rem;
        background: white;
    }
}

.img-stylized {
    // display: inline-block;
    border: 1px solid #aaa;
    box-shadow: 0.25rem 0.25rem 0 #aaa;
}

.img {
    width: 100%;
    display: block;
}

.grid {
    display: grid;
    width: 100%;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);

    @for $i from 1 through 12 {
        &-#{$i} {
            grid-column: span #{$i};
        }
    }

    &.items-center {
        align-items: center;
    }

    &.self-center {
        align-self: center;
    }

    &.content-center {
        align-content: center;
    }

    &.justify-center {
        justify-content: center;
    }
}

.gallery-box {
    width: 100%;
    height: 12.5rem;
    // background-image: attr(data-image-src url);
    background-image: var(--background);
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.modal {
    position: fixed;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    background: white;
    z-index: 10;

    &::before {
        content: '';
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: gray;
        z-index: 0;
    }
}

@media screen and (max-width: 960px) {
    .section {
        padding: 4rem 1rem;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}