@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Nunito+Sans:wght@400;700&display=swap');

$colors: ('white': #ffffff,
    'primary': #2ec4b6,
    'primary-light': #cbf3f0,
    'secondary': #ff9f1c,
    'secondary-light': #ffbf69,
    'danger': #ff6b6b,
);

$font-serif: 'Noto Serif',
serif;

$font-sans-serif: 'Nunito Serif',
sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-family: $font-sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

// Navbar
.navbar {
    padding: 1.25rem;
    background: map-get($map: $colors, $key: 'white');
    border-bottom: 1px solid #eee;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &_brand {
        color: map-get($map: $colors, $key: 'primary');
        font-weight: 700;
    }

    &_links {
        display: inline-block;
    }

    &_link {
        color: darken($color: map-get($map: $colors, $key: 'primary'), $amount: 30);

        &:not(:last-child) {
            margin-right: 1.25rem;
        }

        &.active {
            color: map-get($map: $colors, $key: 'primary');
        }
    }
}

// Margin and Padding
@for $i from 1 through 10 {

    // margin
    .margin-#{$i} {
        margin: #{$i}rem;
    }

    .margin-y-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }

    .margin-x-#{$i} {
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }

    .margin-top-#{$i} {
        margin-top: #{$i}rem;
    }

    .margin-bottom-#{$i} {
        margin-bottom: #{$i}rem;
    }

    .margin-left-#{$i} {
        margin-left: #{$i}rem;
    }

    .margin-right-#{$i} {
        margin-right: #{$i}rem;
    }

    // Padding
    .padding-#{$i} {
        padding: #{$i}rem;
    }

    .padding-y-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
    }

    .padding-x-#{$i} {
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }

    .padding-top-#{$i} {
        padding-top: #{$i}rem;
    }

    .padding-bottom-#{$i} {
        padding-bottom: #{$i}rem;
    }

    .padding-left-#{$i} {
        padding-left: #{$i}rem;
    }

    .padding-right-#{$i} {
        padding-right: #{$i}rem;
    }
}